//- Called by index.js/cmdexec & cmdtop

//- https://github.com/visionmedia/jade#a6-9

h3= title

//- Only show the command form if required
if showform
  form#docmd(method="post")
    label(for="command")= lblCommand 
      input(
        type="text"
      , name="command"
      , value=cmd
      , title=cmdHint
      )
    input(
      type="submit"
    , value=btnTxt
    )

#output-container

pre #{results}

if errors
  h4 Errors
  pre #{errors}

if other
  h4 Other Info
  pre #{other}
